.readMember {
  font-size: 14px;
  color: #333333;
  letter-spacing: 0;
  line-height: 30px;
  .title{
    font-weight: bold;
  }
  .controller {
    color: #398DEE;
    letter-spacing: 0;
    float: right;
    font-weight: normal;
    svg {
      margin-left: 5px;
      position: relative;
      top: 2px;
      transform: rotate(-270deg);
      width: 8px;
      height: 13px;
      vertical-align: text-top;
      transition: transform .2s;
      g,
      path {
        fill: #398DEE;
      }
    }
    &.open {
      span{
        vertical-align: middle;
      }
      svg {
        transform:  rotate(-90deg);
        top: 0;
      }
    }
  }
  .content {
    clear: both;
    font-size: 14px;
    color: #999;
    letter-spacing: 0;
    line-height: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 5px;
    margin-bottom: 40px;
    &.open {
      -webkit-line-clamp: unset;
    }
  }
}