
@font-face {font-family: "vj";
  src: url('iconfont.eot?t=1502242286808'); /* IE9*/
  src: url('iconfont.eot?t=1502242286808#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1502242286808') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1502242286808') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1502242286808#vj') format('svg'); /* iOS 4.1- */
}

.vj {
  font-family:"vj" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vj-delete:before { content: "\e600"; }

.vj-edit1:before { content: "\e602"; }

.vj-comment:before { content: "\e603"; }

.vj-error:before { content: "\e604"; }

.vj-emoji:before { content: "\e628"; }

.vj-like:before { content: "\e60c"; }

.vj-upload:before { content: "\e656"; }

.vj-edit:before { content: "\e645"; }

.vj-new:before { content: "\e659"; }

.vj-delete2:before { content: "\e65a"; }

.vj-add:before { content: "\e65b"; }

.vj-set:before { content: "\e65c"; }

.vj-arrow-l:before { content: "\e65d"; }

.vj-arrow-r:before { content: "\e65e"; }

.vj-folder:before { content: "\e65f"; }

.vj-department:before { content: "\e660"; }

.vj-set2:before { content: "\e661"; }

.vj-audio:before { content: "\e662"; }

.vj-male:before { content: "\e663"; }

.vj-me:before { content: "\e664"; }

.vj-record:before { content: "\e665"; }

.vj-sun:before { content: "\e666"; }

.vj-female:before { content: "\e667"; }

.vj-birthday:before { content: "\e668"; }

.vj-rz:before { content: "\e669"; }

.vj-play:before { content: "\e66a"; }

.vj-pause:before { content: "\e66b"; }

