@import 'design.scss';
$color:(
  bg:#4f77aa,
  titleBg:#4f77aa,
  active:#398dee,
  choosed:#ffbb00,
  color:#fff,
  todayBg:rgba(255,255,255,0.3),
  todayColor:#fff,
  confirmHover: rgba(255,255,255,0.3),
  arrow:rgba(255,255,255,0.5)
) !default;
@function color($key) {
  @if map-has-key($color, $key) {
    @return map-get($color, $key);
  }
  @warn "Unknown `#{$key}` in $color";
  @return null;
}
.wrap{
  // background: #4f77aa;
  background: color(bg);
}
.title{
  background: color(titleBg);
  color:#fff;
  padding: 15px 20px;
  text-align: left;
  margin-bottom: 10px;
  h3{
    font-size: 16px;
    color:rgba(255,255,255,0.8)    
  }
  h1{
    font-size: 26px;
  }
}
.date{
  font-size: 14px;
  margin: 4px auto;
  display: inline-block;
  color: color(color);
  line-height: 30px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  &.beforeDay{
  color: color(todayBg);
  }
  &.today{
  color: color(todayColor);
  background: color(todayBg);
  }
  &.active{
    color: color(active);
    background:color(color);
  }
  &.choosed{  
    background:color(choosed);
    color:color(color);    
  }
}
.week{
  color: rgba(255,255,255,0.3);
}
.head{
  color: color(color);
}
.confirm{
  color: color(color);
  text-align: right;
  padding: 10px 0;
  span{
    display: inline-block;
    font-size: 14px;
    padding: 8px 15px;
    margin: 0 5px;
    transition: 0.5s;
    &:hover{
      background: color(confirmHover);
    }
  }
}
:global(.vj-calendar-next){
  &:before{
    border-color:color(arrow);
  }
}
:global(.vj-calendar-prev){
  &:before{
    border-color:color(arrow);
  }
}
:global(.vj-calendar-bar){
  background:url('IMG/icon_bar_arrow_up.png') center no-repeat;
  background-size:20px 10px;
  &:before,&:after{
    display:none;
  }
}
:global(.vj-calendar-wmodel){
  background:url('IMG/icon_bar_arrow_down.png') center no-repeat;
  background-size:20px 10px;
  &:before,&:after{
    display:none;
  }
}