$color:(
  bg:#fff,
  titleBg:#60a0f4 ,
  color:#60a0f4 ,
  active:#fff,
  choosed:#ffbb00,
  todayBg:rgba(96,160,244,0.5),
  // todayBg:rgba(79,119,170,0.7),
  todayColor:#fff,
  confirmHover: rgba(0,0,0,0.1),
  arrow:#60a0f4 
) 