.border {
  .bgColor {
    height: 60px;
    font-family: PingFangSC-Regular;
    background: #fff;
    border-bottom: 0.5px solid #ddd;
    .text {
      display: block;
      font-size: 16px;
      color: #333333;
      letter-spacing: 0;
      line-height: 24px;
      margin-bottom: -10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .brief {
    font-size: 12px;
    color: #999999;
    letter-spacing: 0;
    line-height: 18px;
    }
    .svg {
      display: block;
      margin-top: 5px;
    }
    &:active {
      opacity: 0.8;
    }
  }
  &:last-child {
    .bgColor {
      border-bottom: none;
    }
  }
}
