Thumbs.db
ehthumbs.db
Desktop.ini
debug.log

yarn.lock
npm-debug.log
stats.json

*.zip
*.tgz
*.rar
.svn
.git
.idea
build
node_modules
$RECYCLE.BIN
/app
/bak
/midbak
dev
dist
bak
.vscode
midbak
package-lock.json