@import "design.scss";

$btn:(
  def:#666,
  defBd:#eaeaea,
  defBg:#fff,
//--------------
  suc:#fff,
  sucBd:#67ad03,
  sucBg:#67ad03,
//----------------
  rel:#fff,
  relBd:#e18803 ,
  relBg:#fd9802,
// -------------
  sav:#fe9802 ,
  savBd:#dcdcdc ,
  savBg:#fef5e7 ,

) !default;
@function btn($key) {
  @if map-has-key($btn, $key) {
    @return map-get($btn, $key);
  }
  @warn "Unknown `#{$key}` in $btn";
  @return null;
}
.btn {
  font-size: 7px;
  padding: 2.5px 7.5px;
  text-align: center;
  letter-spacing: 0.5px;
  cursor: pointer;
  display: inline-block;
  border-radius: 2px;
}

.success {
  background: btn(sucBg);
  border: 0.5px solid btn(sucBd);
  color: btn(suc);
}
.default {
  background: btn(defBg);
  border: 0.5px solid btn(defBd);
  color: btn(def);
}
.release {
  background: btn(relBg);
  border: 0.5px solid btn(relBd);
  color: btn(rel);
}
.save {
  background: btn(savBg);
  border: 0.5px solid btn(savBd);
  color: btn(sav);
}
 