
.wrap{
  input[type=radio]{
    display: none;
  }
  
  .item{
    margin-left: 10px;
    border: 0.5px solid #DDDDDD;
    margin-right: 2.5px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #fff;
    width: 7px;
    height: 7px;
    display: inline-block;
    vertical-align: middle;
    &.active{
      border: 2.5px solid #60A0f4;
    }
  }

  .point{
    font-size: 6px;
    color:#bbb;
  }

}
