/* wrap */
.rc-dialog-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2017;
}

/* mark */
.rc-grey-mark,
.rc-lucency-mark {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 0;
  transition: all .35s;
  transform: translateZ(0);
  height: 100%;
}

.rc-grey-mark {
  background: rgba(0, 0, 0, 0.3);
  -webkit-box-align: center;
  align-items: center;
}

.rc-grey-mark.rc-show,
.rc-lucency-mark.rc-show {
  opacity: 1;
}

/* common */
.rc-dialog-cont,
.rc-alert-cont,
.rc-confirm-cont,
.rc-toast-cont {
  word-wrap: break-word;
  transform: scale(0.7) translateZ(0);
  transition: all .35s;
}

.rc-grey-mark.rc-show .rc-dialog-cont,
.rc-grey-mark.rc-show .rc-alert-cont,
.rc-grey-mark.rc-show .rc-confirm-cont,
.rc-lucency-mark.rc-show .rc-toast-cont {
  transform: scale(1) translateZ(0);
}

.rc-alert-cont,
.rc-confirm-cont {
  max-width: 88%;
  min-width: 70%;
  text-align: center;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 4px;
}

/* dialog */
.rc-dialog-cont {
  position: relative;
  width: 84%;
  max-height: 80%;
  background: #fff;
  overflow-x: hidden;
}

.rc-dialog-title {

}

.rc-dialog-main {
  border-radius: 4px;
  max-height: 70%;
  padding: 10px;
}

.rc-dialog-btn {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  left: 50%;
  bottom: -80px;

}

/* modal */
.rc-modal-cont {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 16px;
  text-align: center;
  word-wrap: break-word;
  background: #eee;
  transform: translate(0, 100%) translateZ(0);
  transition: all .35s;
}

.rc-grey-mark.rc-show .rc-modal-cont {
  transform: translate(0, 0) translateZ(0);
}

.rc-modal-title {
  padding: 8px 0;
  color: #777;
  position: relative;
}

.rc-modal-btns {
  background: #fff;
}

.rc-modal-btn {
  display: block;
  padding: 10px 20px;
  line-height: 1.6;
  position: relative;
}

.rc-modal-cancle {
  display: block;
  padding: 10px 0;
  margin-top: 4px;
  line-height: 1.6;
  background: #fff;
  position: relative;
}

/* alert */
.alertTip {
  padding: 20px;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

.alertBtn {
  display: block;
  font-size: 18px;
  line-height: 42px;
  position: relative;
}

/* confirm */
.confirTitle {

}

.confirTip {
  padding: 20px;
  font-size: 16px;
  line-height: 1.6;
}

.confirmBtns {
  font-size: 18px;
  line-height: 42px;
  position: relative;
}

.confirmBtnA {
  display: block;
  position: relative;
}

.confirmBtnA:after {
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background: #ddd;
  content: "";
  transform: scaleX(.5);
  right: 0;
}

.confirmBtnA:last-child:after{
  display: none;
}



/* toast */
.rc-toast-cont {
  width: 120px;
  padding: 12px 20px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  box-sizing: border-box;
}
