{
  "presets": [
    ["es2015", {"modules": false}],
    "react",
    "stage-0"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        ["import", { "style": "css", "libraryName": "antd-mobile" }]
      ]
    },
    "production": {
      "plugins": [
        ["transform-runtime", {
          "helpers": false,
          "polyfill": false,
          "regenerator": true,
          "moduleName": "babel-runtime"
        }],
        ["import", { "style": "css", "libraryName": "antd-mobile" }]
      ]
    }
  }
}
