.box {
  display: inline-block;
  margin: 15px 12px 0 12px;
  width: calc(20% - 24px);
  text-align: center;
  span {
    display: inline-block;
  }
  .imgBox {
    position: relative;
    width: 50px;
    height: 50px;
    // border: 1px solid #E7F1FF;
    border-radius: 4px;
    overflow: hidden;
    .img {
      width: 50px;
      height: 50px;
    }
    .svg {
      position: absolute;
      top: 30px;
      right: 0;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
.text {
  width: 50px;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #999999;
  line-height: 20.5px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}